.wrap {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}
.title {
  text-align: center;
}
.container {
  border: 1px solid grey;
}
.transformation {
  width: 100px;
  //   border: 1px solid red;
  text-align: center;
}
