.wrap {
  display: grid;
  min-width: 200px;
  grid-template-columns: 1fr 2fr;
}
.title {
  text-align: center;
}
.container {
  border: 1px solid grey;
  padding: 20px;
}
.transformation {
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.num,
.action {
  width: 40px;
}
